.dial{
  text-align: center
}
.h{
  text-align: center;
}
.but{
  margin: 0;
  position: absolute;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}


::ng-deep .mat-step-icon-content { display: none !important; }
::ng-deep .mat-step-icon { display: none !important; }

.mat-step-label
{
  margin-top: -0.7rem;
}

.ic{
  color:#3f51b5;
}
