.dial{
  text-align: center
}
.h{
  text-align: center;
}
.but{
  margin: 0;
  position: absolute;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}


::ng-deep .mat-step-icon-content { display: none !important; }
::ng-deep .mat-step-icon { display: none !important; }

.mat-step-label
{
  margin-top: -0.7rem;
}

.ic{
  color:#3f51b5;
}

.custom-form {
  /* Custom form styles */
}

.custom-form-field {
  /* Custom form field styles */
}

.custom-label {
  /* Custom label styles */
}

.custom-input {
  /* Custom input styles */
  /* Example styles */
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
