


<!--
<div class="iconWithLabel">
  <ejs-stepper>
    <e-steps>
      <e-step label="Cart" iconCss="sf-icon-cart"></e-step>
      <e-step label="Address" iconCss="sf-icon-user"></e-step>
      <e-step label="Delivery" iconCss="sf-icon-transport"></e-step>
      <e-step label="Payment" iconCss="sf-icon-payment"></e-step>
      <e-step label="Ordered" iconCss="sf-icon-success"></e-step>
  </e-steps>
  </ejs-stepper>
</div></ng-template> -->
<!-- <div class="iconWithLabel">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstStepForm">
      <form #firstStepForm="ngForm">

      </form>
    </mat-step>
    <mat-step>

    </mat-step>
    <mat-step>

    </mat-step>
  </mat-horizontal-stepper>
</div>

<div id="editPopup">
  <label for="Status">Status:</label>
  <input type="text" id="Status" name="Status" [(ngModel)]="status" />

  <label for="Summary">Summary:</label>
  <textarea id="Summary" name="Summary" [(ngModel)]="summary"></textarea>

  <button (click)="saveChanges()">Save</button>
  <button (click)="closeEditPopup()">Cancel</button>
</div> -->


