.name {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.name-2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  margin-top: 0.5rem;
}

.nam{
margin-left: 0.7rem;
margin-bottom: 0.5rem;
}

.tas{
  margin-left: 0.7rem;
  margin-bottom: 0.3rem;
}

.date{
  margin-left: 0.7rem;
  margin-bottom: 0.3rem;
}

.butt{
  text-align: center;

}

.save{
  width: 7rem;
  isplay: inline-flex;
    items-align: center;
    // padding-left: 1.25rem;
    // padding-right: 1.25rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #2563eb;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.input-style {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  color: #374151;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 0.625rem;
  outline: none;
}
