
<div class="name">
  <label for="name">
    Id

  <input id="name" type="text" formControlName="name">
</label>



  <label for="address">
    Task
  </label>
  <input id="address" type="text" formControlName="address">


</div>

<div class="date">
<label for="date">
  date
</label>
<input id="date" type="datetime-local" formControlName="date">

<label for="price">
  price
</label>
<input id="price" type="number" min="0" formControlName="price">
</div>

<div class="butt">
<button>Save</button>
</div>
