


<div class="name">
  <div class="input-group">
    <p class="tas" for="address">Task</p>
    <input class="input-style" id="name" type="text"  placeholder="Task" formControlName="name">
  </div>
  <div class="input-group">
    <p class="nam" for="name">Summary</p>
    <input class="input-style" id="address" type="text"  placeholder="Summary" formControlName="address">
  </div>
</div>


<div class="name-2">
  <div class="input-group">
    <p class="date" for="address">Date</p>
    <input class="input-style" id="date" type="datetime-local" formControlName="date">
  </div>
  <div class="input-group">
    <p class="date" for="price">Price</p>
    <input class="input-style" id="address" type="number" min="0"  placeholder="$" formControlName="price">
  </div>
</div>


<div class="butt">
  <button mat-flat-button color="primary">Save</button>
</div>
