
<h1>Kanban Project</h1>

<h1>Kanban Project</h1>

<!-- <form (submit)="submitForm()" #taskForm="ngForm">
  <label for="Id">Id</label>
  <input type="text" id="Id" [(ngModel)]="newTask.Id" name="Id" required>

  <label for="Summary">Summary</label>
  <input type="text" id="Summary" [(ngModel)]="newTask.Summary" name="Summary" required>

  <button type="submit" [disabled]="!taskForm.form.valid">Add New Task</button>

      </form> -->





<!-- <button mat-button (click)="openDialog()">Open Dialog</button> -->
<button  mat-flat-button  class="material-symbols-outlined-1"(click)="addColumn()" > <mat-icon>add_box</mat-icon></button>

<button  mat-flat-button  class="material-symbols-outlined-2"(click)="toggleDeleteButtonsVisibility()" > <mat-icon>settings</mat-icon></button>


<ejs-kanban #kanbanObj (dialogOpen)="handleActionBegin($event)" keyField="Status" [dataSource]="data" [cardSettings]="cardSettings" [swimlaneSettings]='swimlaneSettings'  width="auto" height="auto">
  <e-columns>
    <!-- <e-column headerText="To do" keyField="Open" allowToggle="true"></e-column>
    <e-column headerText="In Progress" keyField="InProgress" allowToggle="true"></e-column>
    <e-column headerText="Testing" keyField="Testing" allowToggle="true"></e-column>
    <e-column headerText="Done" keyField="Close" allowToggle="true"></e-column> -->
  <e-column *ngFor="let column of columns" [keyField]="column.keyField" [allowToggle]="column.allowToggle">

<ng-template #template let-data>
      <div>{{ column.headerText }}</div>
      <mat-icon class="material-symbols-outlined" matBadge= {{getTaskCount(column.keyField)}} matBadgeSize="medium" matBadgeColor="primary"></mat-icon>
      <!-- <button  mat-flat-button  class="material-symbols-outlined-4" (click)="createTask()"><mat-icon>add_circle</mat-icon></button> -->
        <button mat-button [matMenuTriggerFor]="menu" class="menuu" mat-icon-button  aria-label="Example icon button with a menu icon">
           <mat-icon>menu</mat-icon>
         </button>
          <button *ngIf="column.showDeleteButton"  mat-menu-item class="material-symbols-outlined-3" (click)="removeColumn(column)"><mat-icon>cancel</mat-icon></button>

 <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addColumn()">Add</button>
    <button mat-menu-item (click)="modifyColumnTitle(column)">Edit</button>
    <button mat-menu-item (click)="switchColumn(columns.indexOf(column), columns.indexOf(column) - 1)" [disabled]="columns.indexOf(column) === 0">avant</button>
    <button mat-menu-item (click)="switchColumn(columns.indexOf(column), columns.indexOf(column) + 1)" [disabled]="columns.indexOf(column) === -1">après</button>
    <button mat-menu-item (click)="changePositionIndex(column)">Change</button>

 </mat-menu>

</ng-template>
<ng-template #cardSettingsTemplate let-data>
  <div class='e-card-content'>
      <table class="card-template-wrap">
          <tbody>
              <tr class="Idd">

                  {{data.Id}}
              </tr>
              <tr class="summ">

                  {{data.Summary}}
              </tr>
              <tr>
          <p class="str">{{data.StartDate | date:'medium'}}  Days : {{daysSinceStart(data.StartDate)}}</p>


          <p class="day"></p>
              </tr>
                <!-- {{data.Deadline}} -->

                <!-- <p class="de">{{data.StartDate | date:'medium'}}  {{data.Duration}}</p> -->
                <!-- <input type="date" [(ngModel)]="data.StartDate" (ngModelChange)="updateTask()" /> -->
                                <!-- <label>End Date:</label>
                <input type="date" [(ngModel)]="data.EndDate" (ngModelChange)="updateTask()" /> -->

          </tbody>
      </table>
  </div>
</ng-template>

  </e-column>
  </e-columns>

</ejs-kanban>













<!--
{{columns | json}} -->
