

.but {
  margin-left: 4rem;
}


.menuu
 {

display: block;

margin: auto;


  color: rgb(19, 30, 44);
  margin-top: -0.1rem;
 }


 .material-symbols-outlined-1
{
  margin-bottom: 0.8rem;
}

.material-symbols-outlined
{
  margin-top: 0.8rem;
  margin-right: 0.7rem;

}

.ng-star-inserted{
  margin-top: 2rem;
}

